/* General Styles */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.root {
    -fx-background-color: white;
}

.text-field {
    -fx-font-size: 14px;

}
/* Top part styles*/
.top-hbox {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-pref-height: 60;
    -fx-background-color: #afcbd5;
    -fx-alignment: CENTER;
}

.title-label {
    -fx-text-fill: #272838;
    -fx-font-size: 20;
    -fx-alignment: TOP_LEFT;
}


.login-button{

    -fx-background-color: #afcbd5;
    -fx-text-fill: #272838;
}

.logout-button{
    -fx-background-color: #afcbd5;
    -fx-text-fill: #815355;
}

/* Left Part Styles*/
.navigation-vbox {
    -fx-pref-height: 60;
    -fx-background-color: #272838;
}

.tab-buttons {
    -fx-background-color: #afcbd5;
    -fx-text-fill: #272838;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 2px 0;
}
.tab-buttons:focused{
    -fx-background-color: #272838;
    -fx-text-fill: #afcbd5;
}

/* All users and online users Tabs Styles*/
.users-label {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.users-VBox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.chats-VBox {
    -fx-pref-width: 250;
}



.newchat-tf {
    -fx-pref-width: 154;
}

/*Chat Tap Styles*/
.chat-boxes {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.chat-button {
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-font-weight: bold;
    -fx-alignment: top-left;
    -fx-pref-width: 250;
    -fx-pref-height: 50;
    -fx-background-color: #f2f2f2;
    -fx-border-color: #e0dede;
    -fx-text-fill: black;
}
.chat-button:hover{
    -fx-background-color: #e0dede;
}

.chat-ta {
    -fx-pref-width: 500;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1px 1px 2px 1px;
    -fx-border-radius: 2px 2px 0 0;
    -fx-padding: 4px;
    -fx-text-fill: black;
}




.sendChat-button {
    -fx-pref-width: 27;
    -fx-pref-height: 27;
    -fx-background-color: lightgreen;
    -fx-border-color: green;
    -fx-border-width: 0 0 2px 0;
    -fx-background-radius: 0;
    -fx-padding: 4px;
    -fx-text-fill: green;
}
.sendChat-button:hover{
    -fx-pref-width: 27;
    -fx-pref-height: 27;
    -fx-background-color: lightgreen;
    -fx-border-color: green;
    -fx-border-width: 0 0 2px 0;
    -fx-background-radius: 0;
    -fx-padding: 4px;
    -fx-text-fill: green;
}
.sendChat-button:pressed{
    -fx-background-color: green;
}

.message-tf {
    -fx-pref-width: 477;
    -fx-pref-height: 23;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 0 0 2px 0;
    -fx-background-radius: 0;
    -fx-padding: 4px;
    -fx-text-fill: black;
}



/*login/Register page Styles*/
.grid-pane {
    -fx-background-color: lightgrey;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}

.register-button {
    -fx-background-color: #3498db;
    -fx-border-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.loginRegister-textfields {
    -fx-background-color: lightgrey;
        -fx-border-color: grey;
        -fx-border-width: 0 0 2px 0;
        -fx-background-radius: 0;
        -fx-padding: 4px;
        -fx-text-fill: black;
}






.header-part {
    -fx-spacing: 10px;
    -fx-padding: 10 0 10 0;
    -fx-alignment: TOP_LEFT
}